- name: Create and build project
  run: |
    npm config set progress false
    npm config set fund false
    npm config set loglevel error
    export CI=true

    cordova create cordova-build com.agarroles.game "Agar Roles"
    cd cordova-build

    if [ -d "../www" ]; then
      cp -r ../www/* www/
      echo "Archivos www copiados"
    fi

    cordova platform add android@8.0.0
    cordova build android --debug